*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Public Sans", sans-serif;
}

body {
  background: $Very-Light-Gray;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
